@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Assistant|Righteous&display=swap');

/*......................Media Queries*/
@media(max-width: 700px) {
    body {
        background: black;
    }
}

@media(min-width: 1200px) {
    .body {
        padding-top: 30px;
        min-height: 480px;
        margin: 0 auto;
        max-width:100%;
    }}

@media(min-width: 992px) {
    .body {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }}

@media(min-width: 480px) {
    .body {
        padding-top: 30px;
        min-height: 320px;
        margin: 0 auto;
        max-width: 50%;
    }}

@media(min-width: 1024px) {
    .body {
        padding-top: 30px;
        min-height: 340px;
        margin: 0 auto;
        max-width: 65%;
    }}


/*...................Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 60px;
}

/*...............logo must be eye catching, have movement and in good proportion*/
.logo {
    background: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 190px;
    max-height: 170px;
    height: 170px;
    width: 290px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 50%;
    transition: all .5s linear;
    -moz-transition:all .5s linear;
    -webkit-transition: all .5s linear;
}

/*........the heading must have good color, size &font, well aligned good font size*/
.name {
    font-family: "Amatic SC" , arial;
    font-weight: 810;
    font-size: 56px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 14px;
    color: lightseagreen;
}

.catchphrase {
    font-family: "Righteous" , arial;
    font-weight: 90;
    font-size: 22px;
    text-decoration: none;
    color: darkblue;
}

.container {
    font-size: 0;
}

.list-inline {
    display: inline-block;
}

#nav li {
    padding: 0;
}

.navbar-nav {
    margin-inline-end: 400px;
    float: left;
}
.navitem {
        text-decoration: none;
        font-family: "Righteous", arial;
        font-weight: 70;
        text-align: center;
        font-size: 15px;
        margin-top: 40px;
        text-transform: uppercase;
        height: 100%;
        width: 140px;
        color: rgba(24, 52, 206, 0.555);
}

.navitem a i {
    text-decoration: none;
    display: block;
    font-size: 23px;
    float: right;
    color: rgba(24, 52, 206, 0.555)
}

/*...................hover*/

.hvr-glow:after {
    width: 100%;
    margin: 100%;
    background: gold;
    padding: 30;  
}

.join-button:hover {
  color: black;
  background-color: green;
  font-family: "Righteous";
  font-size: 20px;
}

/*....assitance with code from 24css; see acknowledgements..*/

.navitem a:hover:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px #474441;
  filter: blur(3px);
}

.navitem a:hover {
  color: rgb(96, 248, 240);
  text-shadow: 0 0 15px black;
}

.navitem a i:hover {
  color: rgb(96, 248, 240);
  box-shadow: 0 0 15px lightsalmon;
  text-shadow: 0 0 15px black;
}

/*...................Colors*/

body {
    background-color: rgba(7, 6, 6, 0.585);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.li-menu-color-home {
    background-color: black;
}

.li-menu-color-location {
    background-color: black;
}

.li-menu-color-wine {
    background-color:black;
}

.li-menu-color-ticket {
    background-color: black);
}

/*...................Sections*/

#myCarousel {
    height:500px;
    width:850px;
    margin-bottom: 50px;
    background-color: black;
}

.loc{
   width: 400px;
    max-height:400px;
    height: 400px;
    font-family: "Righteous", arial;
    font-size: 12px;
    font-display: inherit;
    padding: 3px;
    margin-left: 110px;
    margin-top: 25px;
    border-radius: 25%;
    align-content: center;
}
.item img {
    width: 400px;
    max-height:400px;
    font-family: "Righteous", arial;
    font-size: 12px;
    font-display: inherit;
    padding: 3px;
    margin-left: 210px;
    margin-top: 25px;
    border-radius: 50%;
    align-content: center;
}

.winery {
    font-family: "righteous", Arial;
    text-decoration: none;
    font-size: 20px;
    color: lightseagreen;
    text-align: center;
    margin-left: 300px;
}

.location-heading {
   font-family: "Assistant", arial;
   font-display: center;
   font-style: uppercase;
   margin-left: 120px;
   margin-top: 60px;
   font-size: 32px;
   color: #ffffff;
}

.quote-heading {
     font-family: "Assistant", arial;
   font-display: center;
   margin-left: 520px;
   font-size: 32px;
   color: #ffffff;
   
}

.location-p {
   font-family: "Amatic SC", arial;
   font-display: center;
   margin-left: 120px;
   font-style: uppercase;
   font-size: 29px;
   color: #ffffff;
   margin-top: 80px;
}


.showcase {
   font-family: "Amatic SC", arial;
   font-display: center;
   margin-left: 10px;
   font-style: uppercase;
   font-size: 52px;
   color: #ffffff;
   margin-bottom: 80px;
}

/*...................form */

.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 140px;
    margin-bottom: 480px;
}

.centered {
      position: fixed;
      left: 50%;
      transform: translateX(-50%, -50%);
  }

.signup-form{
  margin-top: 10px;
  color: black;
  background: rgb(96, 248, 240);
  max-width: 490px;
  position: absolute;
  left: 30%;
  padding: 30px;
}

.signup-form h2{
  color: black;
  font-family: "Amatic SC", arial;
  font-weight: 140%;
  margin-bottom: 20px;
  margin-left: 30px;
}

label {
 font-family: "Amatic SC", arial;
}

.text-input:hover{
   border-color: #f16c6b;
}

.text-input{
  background-color: transparent;
  color: black;
  font-family: "Righteous", arial;
  width: 85%;
  height: 25px;
  margin: 5px 0px 20px 0px;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.number-imput {
    color: black;
  font-family: "Righteous", arial;
  border: 1px solid #fafafa;
  padding: 1px;
  margin-left:1px;
  border-radius: 2px;
}

.join-button {
  border-radius: 2px;
  padding-top: 15px;
  padding-right: 32px;
  padding-bottom: 15px;
  padding-left: 32px;
  text-align: center;
  font-size: 100%;
  background-color: gold;
  color: black;
  font-family: "Righteous", arial;
  display: block;
}

/*...................Spec margins,padding,margins,text*/

.video {
   left: 20%;
   position: relative;
}

/*...................Footer*/

footer {
    background-color: rgb(36, 36, 194);
    min-height: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: auto;
}

.social-links {
    padding-bottom: 0;
    margin-top: 5px;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 12px 0;
    border-radius: 50%;
    text-align: center;
    margin-left: 40px;
    font-size: 23px;
    background: #ffffff;
    display: inline-block;
    text-decoration: none;
    color: darkgreen;
    transition: all .5s glow;
    -moz-transition: all .5s glow;
    -o-transition: all .5s glow;
    -webkit-transition: all .5s glow;
}

.social {
    font-family: "Righteous", arial;
    font-size: 23px;
    color:white;
    margin-left: 138px;
    margin-top: 20px;
}

.social-p {
    font-family: "Righteous", arial;
    font-size: 16px;
    color:white;
    margin-left: 30px;
}

.copyright {
    font-family: "Righteous", arial;
    font-size: 23px;
    color: white;
    margin-left: 140px;
    margin-top: 70px;
    float: none:
}

.copyright p {
    font-family: "Righteous", arial;
    font-size: 9px;
    color: white;
}

.button {
    font-family: "Righteous", arial;
    font-size: 23px;
    color: rgba(24, 52, 206, 0.555);
    background: gold;
    margin-left: 50px;
    margin-top: 25px;
    padding-right: 5px;
}