@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Assistant|Righteous&display=swap');

/*...................Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 60px;
}

/*...............logo must be eye catching, have movement and in good proportion*/
.logo {
    background: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 190px;
    max-height: 170px;
    height: 170px;
    width: 290px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 50%;
    transition: all .5s linear;
    -moz-transition:all .5s linear;
    -webkit-transition: all .5s linear;
}
/*........the heading must have good color, size &font, well aligned good font size*/
.name {
    font-family: "Amatic SC" , arial;
    font-weight: 310;
    font-size: 56px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 14px;
    margin-left: 26px;
    margin-right: 20px;
    color: lightseagreen;
}

.catchphrase {
    font-family: "Righteous" , arial;
    font-weight: 90;
    font-size: 22px;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 30px;
    color: lightseagreen;
}

.navcontainer {
    font-size: 0;
    }

#nav li {
    padding: 0;
}
.navitem {
        font-family: "Righteous", arial;
        font-weight: 70;
        text-align: center;
        font-size: 15px;
        margin-top: 40px;
        text-transform: uppercase;
        padding: 10;
        height: 100%;
        width: 140px;
        color: rgba(24, 52, 206, 0.555);
}

.navitem a i {
    padding: 2px;
    display: block;
    font-size: 23px;
    color: rgba(24, 52, 206, 0.555)
}

.list-inline {
    display: inline-block;
}



/*...................Colors*/

body {
    background-color: lightgray;
    background: url("../images/wineglass.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.li-menu-color-home {
    background-color: lightgreen;
}

.li-menu-color-location {
    background-color: lightsalmon
}

.li-menu-color-wine {
    background-color: rgba(139, 0, 0, 0.74);
}

.li-menu-color-ticket {
    background-color: gold;
}

/*...................Sections*/

#wines {
    clear: both;
    column-count: 4;
    line-height: 50px;
    column-gap: 0px;
    background: none;
}

#wines img {
    width: 90%;
    max-height: 300px;
    margin-bottom: 2px;
    font-family: "Righteous", arial;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    font-display: inherit;
    padding: 3px;
}

/*...................form */

.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 100px;
}

.signup-form{
  margin-top: 50px;
  color: black;
  background: rgb(96, 248, 240);
  max-width: 570px;
  position: absolute;
  left: 10%;
  padding: 30px;
}

.signup-form h2{
  color: black;
  font-family: "Amatic SC", arial;
  font-weight: 140%;
  margin-bottom: 20px;
  margin-left: 30px;
}

.text-input:hover{
   border-color: #f16c6b;
}

.text-input{
  background-color: transparent;
  color: black;
  font-family: "Amatic SC", arial;
  width: 100%;
  height: 25px;
  margin: 5px 0px 20px 0px;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.join-button {
  border-radius: 2px;
  padding-top: 15px;
  padding-right: 32px;
  padding-bottom: 15px;
  padding-left: 32px;
  text-align: center;
  font-size: 100%;
  background-color: gold;
  color: black;
  font-family: "Righteous", arial;
  display: block;
}

.join-button:hover {
  color: black;
  background-color: green;
  font-family: "Righteous";
  font-size: 20px;
}


/*...................hover*/

.hvr-glow:after {
    width: 100%;
    margin: 100%;
    background: gold;
    padding: 30;
    
}

/*...................Spec margins,padding,margins,text*/
/*...................Footer*/

footer {
    background-color: lightseagreen;
    min-height: 40px;
    margin-top: 305px;
}

.social-links {
    padding-bottom: 0;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 12px 0;
    border-radius: 50%;
    text-align: center;
    margin-left: 40px;
    font-size: 23px;
    background: #ffffff;
    display: inline-block;
    text-decoration: none;
    color: darkgreen;
    transition: all .5s glow;
    -moz-transition: all .5s glow;
    -o-transition: all .5s glow;
    -webkit-transition: all .5s glow;
}

.social {
    font-family: "Righteous", arial;
    font-size: 23px;
    color: rgba(24, 52, 206, 0.555);
    margin-left: 138px;
}

.copyright {
    font-family: "Righteous", arial;
    font-size: 23px;
    color: rgba(24, 52, 206, 0.555);
    margin-left: 140px;
}

.copyright p {
    font-family: "Righteous", arial;
    font-size: 9px;
    color: rgba(24, 52, 206, 0.555)
}

.button {
    font-family: "Righteous", arial;
    font-size: 23px;
    color: rgba(24, 52, 206, 0.555);
    background: gold;
    margin-left: 50px;
    margin-top: 25px;
}